<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Newman</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="../..node_modules/bootstrap/dist/css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/home/zausnerd/Documents/david/projects/capstone/node_modules/bootstrap/dist/css/bootstrap.css" /> -->
<!--     <link rel="stylesheet" type="text/css" href="./../../../node_modules/bootstrap/dist/css/bootstrap.css" /> -->
    <!-- <script src="/lodash/index.js"></script> -->
    <link rel="stylesheet" type = "text/css" href="/home/zausnerd/Documents/david/projects/capstone/node_modules/bootstrap/dist/css/bootstrap.css" />
    <script>
        var link = document.createElement('link')
        link.setAttribute('rel', 'stylesheet')
        link.setAttribute('href', require('path').join(__dirname, './../../../node_modules/bootstrap/dist/css/bootstrap.css'))
        document.head.appendChild(link)
    </script>
    <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <!-- <link rel="stylesheet" type="text/css" href="./../../../style.css"/> -->
    <!--<script>
        var link = document.createElement('link')
        link.setAttribute('rel', 'stylesheet')
        link.setAttribute('href', require('path').join(__dirname, './../../../public/style.css'))
        document.head.appendChild(link)
    </script>-->
    <script>require('lodash')</script>
    <script type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/node_modules/angular/angular.js"></script>
    <script defer type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/node_modules/angular-animate/angular-animate.js"></script>
    <script defer type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/node_modules/angular-ui-router/release/angular-ui-router.js" ></script>
    <script defer type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/node_modules/angular-ui-bootstrap/ui-bootstrap.js"></script>
     <script defer type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- <script>
        var srcArray = ['/angular-ui-bootstrap/ui-bootstrap-tpls.js'];
        var path = './../../../node_modules';
        srcArray.forEach((source) => {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.setAttribute('src', require('path').join(__dirname, path, source));
            document.head.appendChild(script);
        });
    </script> -->

     <script type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/bower_components/electron-d3/dist/electron-d3.min.js"></script>
      <script type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/bower_components/ngDraggable/ngDraggable.js"></script>
      <script type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
      <script type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/bower_components/angular-ui-ace/ui-ace.js"></script>
     <!--<script>
        var srcArray = ['/electron-d3/dist/electron-d3.min.js', '/ngDraggable/ngDraggable.js', '/ace-builds/src-min-noconflict/ace.js', '/angular-ui-ace/ui-ace.js'];
        var path = './../../../bower_components';
        srcArray.forEach((source) => {
            var script = document.createElement('script')
            script.setAttribute('src', require('path').join(__dirname, path, source));
            document.head.appendChild(script)
;        });
    </script> -->

    <!-- '/electron-d3/dist/electron-d3.min.js'
    '/ngDraggable/ngDraggable.js' -->

    <!-- <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <!-- <script src="/socket.io-client/socket.io.js"></script> -->
    <script>require('socket.io')</script>
    <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js"></script>
    <!-- <script src="/ngDraggable/ngDraggable.js"></script>
    <script src="/electron-d3/dist/electron-d3.min.js"></script> -->
    <!-- <script type="text/javascript" src="/ace-builds/src-min-noconflict/ace.js"></script> -->
    <!-- <script type="text/javascript" src="/angular-ui-ace/ui-ace.js"></script> -->

    <!-- <script src="public/main.js" defer></script> -->
   <!--<script>
        var srcArray = ['/public/main.js'];
        var path = './../../..';
        srcArray.forEach((source) => {
            var script = document.createElement('script')
            script.setAttribute('src', require('path').join(__dirname, path, source));
            // script.setAttribute('defer', true);
            document.head.appendChild(script);
        });
    </script> -->
    <script defer type="text/javascript" src="/home/zausnerd/Documents/david/projects/capstone/public/main.js"></script>
</head>
<body ng-app="Newman">
    <navbar ng-if="location.path() !== '/' && location.path() !== '/signup'"></navbar>
    <sidebar ng-if="location.path() !== '/' && location.path() !== '/signup'" class="col-xs-2"></sidebar>
    <div class="main" ng-class="{'col-xs-10': location.path() !== '/' && location.path() !== '/signup', 'gradientbackground': location.path() === '/' || location.path() === '/signup'}" ui-view></div>
    <script>
    var cwDirectory = process.cwd();
    window.$ = window.jQuery = require(cwDirectory + '/node_modules/jQuery/lib/node-jquery.js');
    </script>
</body>

</html>
