<section id="userpage">
    <div class='inner'>
        <div class="md-whiteframe-2dp">
            <md-toolbar class="md-primary md-hue-1">
                <div class="md-toolbar-tools ">
                    <span>User Settings</span>
                </div>
            </md-toolbar>
            <md-content layout-padding>
                <div layout="column" ng-cloak class="md-inline-form">
                    <div>
                        <form name="userForm">
                            <md-content layout-padding>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Email</label>
                                        <input name="userEmail" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required>
                                        <div ng-messages="userForm.userEmail.$error">
                                            <div ng-message="required">Email is required.</div>
                                            <div ng-message="pattern">This must be a valid e-mail address.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </md-content>
                            <md-content layout-padding>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Phone</label>
                                        <input name="userPhone" ng-model="user.phone"  ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/">
                                        <div ng-messages="userForm.userPhone.$error">
                                            <div ng-message="pattern">This must be a valid phone number (###-###-####).</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </md-content>
                            <section layout="row" layout-sm="column" layout-align="start end" layout-wrap>
                                <md-button ng-disabled="userForm.$invalid || userForm.$pristine" ng-click="saveChanges(); userForm.$setPristine()" class="md-raised md-primary">Save changes</md-button>
                            </section>
                        </form>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</section>
