<nav class="navbar navbar-static-top">
    <div class="container">
        <div class ='nav-left'>
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
<!--                 <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li> -->
                <!-- <li ng-repeat="item in adminItems" ng-show="user.isAdmin">
                  <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
              </li> -->
          </ul>
      </div>
      <div class='nav-right'>
        <div ng-show="user" class="right-side">
            <button class="btn btn-primary" ui-sref="userspage"><span class="glyphicon glyphicon-cog"></span></button>
            <button class="btn btn-danger" ng-click="logout()">Logout</button>
        </div>
  </div>
</nav>
