<navbar></navbar>
<sidebar class="col-md-2"></sidebar>
<h1>Welcome to the StackBuilder Page</h1>
<p>Here are the tests:</p>
<ul ng-repeat='test in tests'>
    <li>{{test.name}}</li>
</ul>
<div class="container reqeditor col-md-10">
    <form class="form-inline">
        <form name="formInput">
            <div class="form-group reqeditor">
                <input type="text" class="form-control input-lg" id="name" placeholder="Enter name of stack" ng-model="stack.name">
                <hr>
                <button class="btn btn-default btn-lg">Try</button>
                <button type="submit" class="btn btn-success btn-lg" ng-click="submitStack()">Save</button>
                {{test}}
            </div>
        </form>
    </form>
</div>

