
<md-card flex="100" layout="column">
  <div layout="column">
    <md-card-title >
      <md-card-title-text>

        <span class="md-headline cardtitle"><a ui-sref='stackView({stackId: stack._id})'>{{ stack.name }}</a></span>
        <span class="md-subhead">{{ stack.tests.length }} test<span ng-show="stack.tests.length > 1 || stack.tests.length === 0">s</span>
      </md-card-title-text>
      <div layout-align="start end" layout="row">
        <div ng-repeat="test in stack.tests">
          <md-button class="md-fab stackbutton" aria-label="viewtest" ng-class="{'md-accent': test.body.result=='Passing', 'md-primary': test.body.result=='New', 'md-warn': test.body.result=='Failing'}" ui-sref="testeditor({testId: test._id})">
            <md-tooltip md-direction="top">{{test.name}}</md-tooltip>
          </md-button>
        </div>
      </div>

    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button  ui-sref='stackView({stackId: stack._id})' class="runhover">Sequence Details</md-button>
      <md-button class="runhover" ng-click='runTests(stack)'>Run Tests</md-button>
      <md-button class="md-icon-button opacityhover" ng-click="showConfirm(stack)">
        <md-icon>delete</md-icon>
      </md-button>
    </md-card-actions>
    <md-progress-linear class="md-accent" ng-show="toggle" md-mode="query"></md-progress-linear>
  </div>
</div>
</md-card>
