navbar {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1000;
}


md-toolbar {
	padding-right: 10px;
}

a:-webkit-any-link {
	text-decoration: none !important;
}

.logo {
	margin-left: 10px;
	height: 30px;
}

.logo:hover {
	opacity: 0.5;
}