sidebar {
  z-index: 5;
  padding: 0 !important;
  background-color: #5e8bab;
  width: inherit;
  height: 100vh; //removing this changes the height to 100px
  }
  sidebar .logo {
    width: 100%;
    padding: 15px; }
    sidebar section > * {
      padding: 0 15px; }
      sidebar .menu-item {
        transition: border-left, 0.2s; }
        sidebar .menu-item a {
          color: #c8c8c8; }
          sidebar .menu-item a:hover {
            color: white; }
            sidebar .menu-item.active, sidebar .menu-item:hover {
              border-left: 3px solid #00bc8c; }

.sidebartext {
  color: #C2C2C2;
}


.white, .white a {
  color: #FFF;
}

.sidebarset {
  padding: 0px;
}

a {
  .stacksections {
    margin-top: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    color: #FFF;
    font-weight: bold;
  }
  .stacksections:hover {
    background-color: #527e9d;
    text-decoration: none;
  }
  .stacksections:active {
    text-decoration: none;
    background-color: #527e9d;
  }
}

a, a:hover, a:active, a:visited {
    text-decoration:none;
}

.stackbutton {
  display: block;
  float: left;
  background-color: #2c5c74;
  border: 0px;
}
