testbuilder {
	.container {
		margin-top: 3vh;
		padding-left: 30px;
	}
	#typereq {
		-webkit-appearance: none;
		border-radius:0px;
		background-color: #D3D3D3;
	}
	#urlinput {
		-webkit-appearance: none;
		margin-left: -6px;
		border-radius:0px;
		width: 400px;
	}
	.keyform {
		width: 14vw;
	}
	.valform {
		width: 14vw;
	}
	.reqeditor {
		padding-left: 100px;
	}
	.keyvalForms {
		margin-top: 15px;
		padding-left: 100px;
	}
	#urlinput {
		background-color: white;
		color: darken(white, 40%);
	}
	#name {
		display: block;
	}
}

input {
		border: 0;
   		outline: 0;
   		background: transparent;
   		border-bottom: 2px solid black;
   		width: 20px;
   		}