<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">


    <md-card-content layout="column">
            <md-toolbar class="md-primary"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-primary style</h2></div></md-toolbar>
            <md-toolbar class="md-primary md-hue-1"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-primary md-hue-1 style</h2></div>
            </md-toolbar>
            <md-toolbar class="md-primary md-hue-2"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-primary md-hue-2 style</h2></div></md-toolbar>
            <md-toolbar class="md-accent"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-accent style</h2></div></md-toolbar>
            <md-toolbar class="md-accent md-hue-1"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-accent md-hue-1 style</h2></div></md-toolbar>
            <md-toolbar class="md-accent md-hue-2"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-accent md-hue-2 style</h2></div></md-toolbar>
            <md-toolbar class="md-warn"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-warn style</h2></div></md-toolbar>
            <md-toolbar class="md-warn md-hue-1"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-warn md-hue-1 style</h2></div></md-toolbar>
            <md-toolbar class="md-warn md-hue-2"><div class="md-toolbar-tools"><h2 class="md-flex">Using md-warn md-hue-2 style</h2></div></md-toolbar>
    </md-card-content>

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button ui-sref="signup" class="btn btn-primary">Signup</button>
</form>
