
  <div layout="row">
      <md-card flex="70">
        <md-toolbar class="md-primary md-hue-1">
          <div class="md-toolbar-tools ">
            <span>{{stack.name}}</span>
          </div>
        </md-toolbar>
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-on-reorder="logOrder">
              <tr md-row>
                <th md-column><span>Name</span></th>
                <th md-column><span>Method</span></th>
                <th md-column><span>URL</span></th>
                <th md-column><span>Status</span></th>
                <th md-column>
                  <md-icon>info</md-icon>
                  <span>Details</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="test" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="test in stack.tests | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{test.name || "Untitled"}}</td>
                <td md-cell>{{test.method}}</td>
                <td md-cell>{{test.url}}</td>
                <td md-cell>{{test.body.result}}</td>
                <td md-cell>
                  <md-button class="md-small md-primary md-raised md-hue-3" ui-sref="testeditor({testId: test._id})">details</md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{tests.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>


      <md-card flex="30" style="padding: 0">

        <md-toolbar class="md-primary md-hue-1">
          <div class="md-toolbar-tools">
            <span>Stack Performance</span>
          </div>
        </md-toolbar>
        <div id="stackinfopanel">
          <div layout="row">
            <h4 layout="left center">Last ran: {{stack.lastRun || "Never Ran" }}</h4>
            <span flex></span>
            <ul data-charts id="legend">
              <li data-chart="newPercent" data-name="new">{{newTests.length}} new tests</li>
              <li data-chart="failPercent" data-name="pass" id="passing">{{passTests.length}} passing tests</li>
              <li data-chart="passPercent" data-name="fail" id="failing">{{failTests.length}} failing tests</li>
            </ul>
          </div>
        </div>
         <div id="donut" layout="row" layout-align="center center"></div>

      </md-card>
  </div>
