<section id="home">
    <div class="row">
        <navbar class="col-md-12"></navbar>
    </div>

    <div class="row">
        <sidebar class="col-md-2"></sidebar>

        <div class="col-md-10">
            <md-content>
                <div class="container-fluid">
                <div ng-repeat='stack in stacks'>
                    <p>Stack name: {{stack.name}}</p>
                    <ul ng-repeat='test in stack.tests'>
                        <li>Test name: {{test.name}}</li>
                        <li>Test url: {{test.url}}</li>
                        <li>Test method: {{test.method}}</li>
                        <li>Test last ran: {{test.lastRun}}</li>
                        <li>Test result: {{test.body.result}}</li>
                    </ul>
                </div>
                </div>
            </md-content>
        </div>
    </div>

</section>

