* {
  box-sizing: border-box; }

a:active {
  text-decoration: none;
}

body {
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

#main {
  overflow-y: visible;
  overflow-x: hidden;
  background-color: #ededed;
  height: 100%;
  padding: 0px;
}

.inner {
  padding: 25px;
  padding-bottom: 10px;
}

.exit_to_app {
  font-size: 2.8rem;
  display: block;
}

md-icon {
  width : 2.8rem;
  height: 2.8rem;  
}

.md-button.md-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-drag] {
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 40px;
  display: block;
  cursor: move;
}

[ng-drag].drag-over {
  border: solid 1px red;
}
[ng-drag].dragging {
  opacity: 0.5;
}
[ng-drop] {
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;
  position: relative;
  padding: 20px;
  width: 140px;
  height: 140px;
  float: left;
}
[ng-drop].drag-enter {
  border: solid 5px red;
}
[ng-drop] span.title {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  margin-top: -10px;
}
[ng-drop] div {
  position: relative;
  z-index: 2;
}
.draglist {
  display: inline-block;
  margin: 0 auto;
}

#stackinfopanel {
  margin: 25px;
  padding: 10px;
  border: #ededed solid 1px ;
}

@import 'directives/main';
@import 'home/main'; 
@import 'about/main';
@import 'login/main';
@import 'directives/sidebar';
@import 'directives/testbuilder';
@import 'directives/navbar';
@import 'directives/stackCard';

