* {
  box-sizing: border-box; }

body {
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;

}

body, html {
  height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.left {
  float: left;
}

.right {
  float: right;
}

#main {
  background-color: #ededed;
  height: 100%;
}

.inner {
  padding: 25px;
  padding-bottom: 10px;
}

@import 'directives/main';
@import 'home/main'; 
@import 'about/main';
@import 'login/main';
@import 'directives/sidebar';
@import 'directives/testbuilder';
@import 'directives/navbar';
@import 'directives/stackCard';

