<section id="testcreator">
    <div class='inner'>
    <div class="md-whiteframe-2dp">
        <md-toolbar class="md-primary md-hue-1">
                <div class="md-toolbar-tools ">
            <span ng-show="!test.created">Create a Test</span>
            <span ng-show="test.created">Edit Test</span>
        </div>
    </md-toolbar>
        <md-content layout-padding>
            <div layout="column" ng-cloak class="md-inline-form">
                    <form name="testForm">
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Test Name</label>
                                    <input name="name" ng-model="test.name" required>
                                    <div ng-messages="testForm.name.$error">
                                        <div ng-message="required">Test name is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex="25">
                                    <label>Route Method</label>
                                    <md-select ng-model="test.method">
                                        <md-option>GET</md-option>
                                        <md-option>POST</md-option>
                                        <md-option>PUT</md-option>
                                        <md-option>DELETE</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex="75">
                                    <label>URL</label>
                                    <input name="url" ng-model="test.url" required>
                                    <div ng-messages="testForm.url.$error">
                                        <div ng-message="required">Route URL is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-button class="md-raised md-accent" id="params" ng-click="showForm()">Add Query Parameters</md-button>
                            </div>
                            <div ng-repeat="param in test.params track by $index" ng-show="showParams" class="keyvalForms">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex="50" ng-click="addForm($index, 'params')">
                                        <label>Key</label>
                                        <input ng-model="test.params[$index].key" ng-change='composeURL()'>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="50">
                                        <label>Value</label>
                                        <input ng-model="test.params[$index].value" ng-change='composeURL()'>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-button class="md-raised md-accent" id="params" ng-click="displayHeaders()">Add Headers</md-button>
                            </div>
                            <div ng-repeat="header in test.headers track by $index" ng-show="showHeaders">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex="50" ng-click="addForm($index, 'headers')">
                                        <label>Key</label>
                                        <input ng-model="test.headers[$index].key" ng-change='composeURL()'>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="50">
                                        <label>Value</label>
                                        <input ng-model="test.headers[$index].value" ng-change='composeURL()'>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-button class="md-raised md-accent" id="params" ng-click="displayBody()">Add Request Body</md-button>
                            </div>
                                <md-radio-group ng-model="test.body.bodytype" ng-show="showBody">
                                            <md-radio-button value="x-www-form-urlencoded" class="md-primary">x-www-form-urlencoded</md-radio-button>
                                            <md-radio-button value="form-data" class="md-primary">form-data</md-radio-button>
                                </md-radio-group>
                            <div ng-repeat="body in test.body.data track by $index" ng-show="showBody">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex="50" ng-click="addForm($index, 'headers')">
                                        <label>Key</label>
                                        <input ng-click="addForm($index, 'body')" ng-model="test.body.data[$index].key" ng-change='composeURL()'>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="50">
                                        <label>Value</label>
                                        <input ng-model="test.body.data[$index].value" ng-change='composeURL()'>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex="50">
                                    <label>Email or Username (for basic Auth)</label>
                                    <input ng-model="test.authorization.email" ng-change='composeURL()'>
                                </md-input-container>
                                <md-input-container class="md-block" flex="50">
                                    <label>Password</label>
                                    <input ng-model="test.authorization.password" ng-change='composeURL()'>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex="20">
                                    <label>Expected Response Code</label>
                                    <input ng-model="test.expectedStatus", ng-change='composeURL()'>
                                </md-input-container>
                            </div>
                        </md-content>
                        <div layout-gt-sm="row">
                            <md-button>Run Test</md-button>
                            <span flex></span>
                            <md-button type="submit" class="md-raised md-accent" ng-click="submitTest()">Save Test</md-button>
                        </div>
                    </form>
                </div>
            </div>
        </md-content>
        </div>
    </div>
</section>